///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

:root {
    // Colour palette.
    --vfs-color-brand-primary: #002870; // purple/blue
    --vfs-color-brand-secondary: #1787e0; // lightblue
    --vfs-color-brand-tertiary: #0c9d57; // lightgreen
}